<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
        </div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(r)"
                data-ng-repeat="r in vm.navRoutes">
                <a href="#{{r.url}}" data-ng-bind-html="r.config.settings.content"></a>
            </li>
        </ul>
    </div>
</div>
<!--
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="http://www.johnpapa.net/hottowel-angular" target="_blank">
                        Created by John Papa
                    </a>
                </li>
                <li>
                    <a href="http://www.breezejs.com" target="_blank">
                        <img src="../../Content/images/breezelogo.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="../../Content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
-->